/* Icons & images */

/* Home icon (fondo negro) https://i.ibb.co/JrwWj61/Home-filled.png  */
/* Home icon (fondo blanco) https://i.ibb.co/QJ4Sw52/Home.png */
/* Add icon https://i.ibb.co/581k1yT/Add-plus.png */
/* Download button https://i.ibb.co/c6Yw0Q3/Chevron-down.png */
/* Back button https://i.ibb.co/bszyC0X/Chevron-left.png */
/* Next button https://i.ibb.co/yX9JLhc/Chevron-right.png */
/* Credit card button https://i.ibb.co/XCSjBzZ/Credit-card.png */
/* Library button https://i.ibb.co/X2SFfYV/Library-small.png */
/* Music icon https://i.ibb.co/BGCH2Sh/Music-icon.png */
/* Play button https://i.ibb.co/NWQFJCF/Play.png */
/* Round button https://i.ibb.co/F8LbjjK/Round.png */
/* Search icon https://i.ibb.co/JyP2hds/Search-small.png */
/* Spotify logo https://i.ibb.co/zSX7rTt/Logo-Spotify-Big.png */
/* Crear playlist https://i.ibb.co/6t2MRTY/Captura-de-Pantalla-2021-10-04-a-la-s-16-31-17.png */
/* Tus me gusta https://i.ibb.co/1fCMfSJ/Captura-de-Pantalla-2021-10-04-a-la-s-16-31-42.png */
/* Tus episodios https://i.ibb.co/3dWFdqM/Captura-de-Pantalla-2021-10-04-a-la-s-16-32-05.png */

/* MAIN CONFIG */

:root {
    /* Colores */
    --green-spotify: #1DB954;
    --black-spotify: #191414;
    --grey-spotify: #A4A4A4;    
    --background-grey: #C4C4C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif}

/* SECTIONS */

sidebar {
    height: 877.5px;
    width: 12.5%;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header {
    height: 340px;
    width: auto;
    background-color: white;
    z-index: 0;
}

main {
    height: 537.5px;
    width: auto;
    background-color: var(--grey-spotify);
}

footer {
    height: 90px;
    width: auto;
    background-color: var(--green-spotify);
}

/* SIDEBAR */

sidebar .logo {
    width: 100%;
    height: 90px;
    background-color: white;
    background-image: url("https://cdn.usbrandcolors.com/images/logos/spotify-logo.svg");
    background-size: 54%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 30.5px;
    bottom: 2px;
}

sidebar a {
    text-decoration: none;
    color: var(--black-spotify);
    font-size: 1.2rem;
}

sidebar li {
    background-color: white;
    padding-top: 12px;
    list-style: none;
}

sidebar .menu {
    width: 100%;
    height: 270px;
    background-color: white;
    font-size: 1.6rem;
    color: var(--black-spotify);
}

sidebar .sub-menu-1 {
    background-color: transparent;
    padding-left: 24px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 0px;
}

sidebar .sub-menu-1 img {
    width: 10%;
    vertical-align: middle;
}

sidebar .sub-menu-2 {
    background-color: transparent;
    padding-left: 24px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

sidebar .sub-menu-2 img {
    width: 10%;
    vertical-align: middle;
}

sidebar .playlists {
    width: 100%;
    height: 270px;
    max-height: 270px;
    background-color: white;
    font-size: 1.6rem;
    color: var(--black-spotify);
}

sidebar .playlists {
    background-color: transparent;
    padding-left: 24px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: -20px;
}

/* HEADER */

header {
    /* display: inline-block; */
    background-color: white;
}

header .back-front-buttons {
    padding-left: 275px;
}

.back-button-img {
    background-image: url("https://i.ibb.co/bszyC0X/Chevron-left.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
}

.front-button-img {
    background-image: url("https://i.ibb.co/yX9JLhc/Chevron-right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;

}

.profile-pic {
    background-image: url("https://avatars.githubusercontent.com/u/5223148?v=4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    position: relative;
    left: 1390px;

}

.drop-down {
    background-image: url("https://i.ibb.co/XkGHd26/60995.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 12.5px;
    height: 12.5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    position: relative;
    left: 1500px;

}

.user-profile {
    margin-left: 15px;
    border-radius: 23px;
    width: 165px;
    height: 33px;
    background-color: white;
    border-color: var(--background-grey);
    font-size: 1.2rem;
    color: var(--black-spotify);
    display: inline-block;
    vertical-align: middle;
    margin-left: 1340px;
    margin-top: 15px;

}
